[submodule "dao-llc-templates/lib/forge-std"]
	path = dao-llc-templates/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dao-llc-jp-templates/lib/forge-std"]
	path = dao-llc-jp-templates/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dao-llc-jp-templates/lib/openzeppelin-contracts"]
	path = dao-llc-jp-templates/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
